@use "../../styles/variables" as vars;

// Card component styles
.card {
  // Layout
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;

  // Box Model
  gap: 1.4rem;
  padding: clamp(2rem, 4vw, 3rem);
  border-radius: 1rem;

  // Responsive adjustments
  @media (max-width: 768px) {
    align-items: center;
    gap: 12px;
    text-align: center;
  }

  // Startup variant
  &--startup {
    // Visual
    background: linear-gradient(
      to right,
      rgba(191, 219, 254, 0.3) 0%,
      rgba(191, 219, 254, 0.3) 10%,
      rgba(255, 255, 255, 0.1) 100%
    );
  }

  // Investor variant
  &--investor {
    // Visual
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(254, 243, 200, 0.3) 30%,
      rgba(254, 243, 200, 0.3) 100%
    );
  }

  // Card title
  &__title {
    // Typography
    font-size: clamp(1.6rem, 4vw, 2.4rem);
    color: vars.$color-text;
  }

  // Card subtitle
  &__subtitle {
    // Typography
    font-size: 0.85rem;
    font-weight: bold;
    color: vars.$color-text;
  }

  // Card description
  &__description {
    // Box Model
    max-width: 410px;

    // Typography
    font-size: 0.94rem;
    line-height: 1.4;
    color: vars.$color-text-gray-muted;
  }

  // Card buttons container
  &__buttons {
    // Layout
    display: flex;
    align-items: center;

    // Box Model
    gap: 6px;
  }
}
