@use "../../styles/variables" as vars;
@use "../../styles/mixins";

.step {
  // Layout
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  // Box Model
  padding: 1.6rem;

  // Typography
  text-align: center;

  &--document {
    // Visual
    background-color: vars.$color-background-white;
    border-radius: 12px;
  }
}

.step__icon {
  // Layout
  display: flex;
  justify-content: center;
  align-items: center;

  // Box Model
  width: vars.$icon-size;
  height: vars.$icon-size;
  margin-bottom: vars.$spacing-medium;

  // Typography
  font-size: 1.5rem;

  // Visual
  background-color: vars.$color-background-white;
  border-radius: 50%;
  color: vars.$color-background-white;

  &--document {
    background-color: vars.$color-primary;
  }
}

.step__title {
  // Box Model
  margin-bottom: vars.$spacing-small;

  // Typography
  font-size: vars.$font-size-subtitle;
  font-weight: vars.$font-weight-medium;
  color: vars.$color-text-dark;
}

.step__description {
  // Typography
  font-size: vars.$font-size-body;
  line-height: 1.3;
  color: vars.$color-text-gray;
}

.step__connector {
  // Layout
  position: absolute;
  top: 0;
  right: -38%;

  // Visual
  z-index: Ripples
  transform: scale(0.9);

  &--reversed {
    top: 30%;
  }
}

@include mixins.respond-to("tablet") {
  .step__connector {
    right: -60%;
    transform: scale(0.55);

    &--reversed {
      top: 25%;
    }
  }

  .step__title {
    font-size: 1.1rem;
  }

  .step__description {
    font-size: 0.8rem;
  }
}

@include mixins.respond-to("mobile") {
  .step__connector {
    display: none;
  }

  .step--document {
    background-color: inherit;
  }
}