@use "../../styles/variables" as vars;
@use "../../styles/mixins";

// Step component styles
.step {
  // Layout
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;

  // Box Model
  padding: 1.6rem;

  &--document {
    // Visual
    background-color: vars.$color-background-white;
    border-radius: 12px;
  }

  // Step icon
  &__icon {
    // Layout
    display: flex;
    justify-content: center;
    align-items: center;

    // Box Model
    width: vars.$icon-size;
    height: vars.$icon-size;
    margin-bottom: vars.$spacing-medium;

    // Typography
    font-size: 1.5rem;

    // Visual
    background-color: vars.$color-background-white;
    border-radius: 50%;
    color: vars.$color-background-white;

    &--document {
      // Visual
      background-color: vars.$color-primary;
    }
  }

  // Step title
  &__title {
    // Box Model
    margin-bottom: vars.$spacing-small;

    // Typography
    font-size: vars.$font-size-subtitle;
    font-weight: vars.$font-weight-medium;
    color: vars.$color-text-dark;
  }

  // Step description
  &__description {
    // Typography
    font-size: vars.$font-size-body;
    line-height: 1.3;
    color: vars.$color-text-gray;
  }

  // Step connector
  &__connector {
    // Layout
    position: absolute;
    top: 0;
    right: -38%;
    z-index: 2;
    transform: scale(0.9);

    &--reversed {
      top: 30%;
    }
  }

  // Responsive adjustments for tablet
  @include mixins.respond-to("tablet") {
    .step__connector {
      right: -60%;
      transform: scale(0.55);
    }
    .step__connector--reversed {
      top: 25%;
    }
    .step__title {
      font-size: 1.1rem;
    }
    .step__description {
      font-size: 0.8rem;
    }
  }

  // Responsive adjustments for mobile
  @include mixins.respond-to("mobile") {
    .step__connector {
      display: none;
    }
    .step--document {
      background-color: inherit;
    }
  }
}
