@use "../../styles/variables" as vars;
@use "../../styles/mixins";

.planButton {
  // Layout
  display: flex;
  align-items: center;
  justify-content: center;

  // Box Model
  box-sizing: content-box;
  padding: 0 30px;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: vars.$border-radius-small;

  // Typography
  white-space: nowrap;
  font-weight: vars.$font-weight-medium;

  // Visual
  cursor: pointer;

  // Transitions
  transition: background-color 0.3s ease;

  &--default {
    background-color: #e6f0fa;
    color: vars.$color-primary;

    .planButton__arrow {
      color: vars.$color-primary;
    }

    &:hover {
      background-color: #d1e3f8;
    }
  }

  &--primary {
    background-color: vars.$color-primary;
    color: vars.$color-background-white;

    .planButton__arrow {
      color: vars.$color-background-white;
    }

    &:hover {
      background-color: vars.$color-primary-hover;
    }
  }

  &__arrow {
    // Box Model
    margin-left: 10px;

    // Typography
    font-size: 1.2rem;
  }
}
